.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: radial-gradient(
      rgba(119, 114, 128, 0.5),
      rgba(68, 45, 104, 0.3)
    ),
    url('../bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: #9fb3ba;
  text-shadow: #393737 1px 1px 0;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 767px) {
  .homepage {
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
  }
  .homepage section {
    height: 85%;
  }
  .homepage h1 {
    font-size: 3rem;
  }
  .homepage h2 {
    width: 90%;
    font-size: 2.2rem;
  }
}
